.movies {
  padding: 0 70px 10px;
  background-color: transparent;
  display: grid;
  grid-template-columns: repeat(auto-fit, 364px);
  grid-template-rows: repeat(auto-fit, 281px);
  gap: 37px 24px;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  font-family: "Inter", Arial, sans-serif;
}

@media screen and (max-width: 900px) {
  .movies {
    padding: 0 30px 76px;
    grid-template-columns: repeat(auto-fit, 339px);
    grid-template-rows: repeat(auto-fit, 262px);
    gap: 30px 30px;
  }
}

@media screen and (max-width: 500px) {
  .movies {
    padding: 0 10px 76px;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: repeat(auto-fit, 237px);
    gap: 14px;
  }
}
